/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-width: 375px;
  max-width: 1024px;
  /* Не следует ограничивать высоту блока, внутри которого есть какое-то содержимое. */
  margin: 0px auto;
  background-image: var(--cover-image); /*фоновая кртнка*/
  background-repeat: no-repeat; /*Свйство - упрвлт пвтрм фнвго избржния. По умлчнию = repeat*/
  background-position: center; /*упрвлть плжнем фнвй кртнки внтри элмнта.
  по центру по горизонтали и вертикали*/
  background-size: cover; /* изменять размер фонового изображения: 
  избржние бдт обрзтся ппдая за грнцы экрна*/
  background-attachment: fixed; /* Свйство опрдлт бдт ли фон пркрчвться вмсте со стрнцей 
  или бдт зфксрвн на однм мсте. испльзтся для эффкта параллакса.*/
  background-color: var(--bacgroud-color);
}

/*------------------территория чердак----------------------*/
/* чердак, тут индикатор верх-прав угол, под ним меню картинка на фоне*/
.header {
  position: relative;
  margin: 0px auto;
 /* (+) высота только по высоте экрана хотя мин 668пикс было вроде лучше.. вызывает поломку экарна - теперь не соответвует макету, будет правиться где-то на другом участке кода...*/
  height: 100vh;
  min-width: 375px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

/*элемент украшения на фон для чердака и подвала*/
.decoration {
  position: absolute;
  grid-row: 1/-1;
  z-index: 5;  /* ??? не понимаю почему не работает в рамках грид без позишн, в доке описано что может работать без*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.corner-top-right {
  margin-top: 10px;
  margin-right: 10px;
  align-self: end;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.corner-bottom-left {
  margin-bottom: 10px;
  margin-left: 10px;
  align-self: start;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

/* чердак/индикатор*/
.indicatator {
  position: absolute;
  grid-row: 1;
  z-index: 5;
  margin-top: 10px;
  justify-self: end;
  margin-right: 38px;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--indicator-color);
}

/* чердак/индикатор/точка*/
.indicatator::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 10px;
  margin-left: 10px;
  align-self: center;
  background-color: var(--indicator-color);
  box-shadow: 0px 0px 4px 2px var(--indicator-color);
}

/* чердак/меню*/
.header__theme-menu {
  grid-row: 1;
  z-index: 8;
  justify-self: right;
  align-self: center; /*без маржина не поподает точно в макет*/
  margin-top: 10px;
  margin-right: 10px;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  text-decoration: none;
  border-bottom: 1px solid var(--button-underline-focus);
}

/* чердак/title*/
.header__logo {
  grid-row: 2;
  margin-left: 10px; /* без отступа центровка не совпадает с макетом*/
  justify-self: start;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow);
}

/* чердак/text*/
.header__title {
  grid-row: 3;
  justify-self: center;
  align-self: center; 
  width: 355px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-title);
  white-space: pre-line;
  justify-self: end;
  margin-bottom: 10px;
  margin-right: 10px;
}

/*--------------------- тушка ---------------------- */
.main {
  /* основа - тушка - х4 блока, в них наборы крточек х2 типа:
   карточка=заголовк+текст, карточка=фотка.
   -примитив - карточка = заголовок под ним либо блок текста либо набор фоток,
   -блок включает набор карточек
   -последний блок = карточка из сета фоток
   */
  margin: 40px auto 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* тушка/section*/
.content-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto 0px;
}

.body-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto 0px;
}

.columns-content-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto 0px;
}

.columns-body-section {
  display: grid;/* режим сетки активирован */
  grid-template-columns: auto;
  grid-template-rows: auto;/* режим авто заполнения */
  width: 355px;
  margin: 0px auto 0px;
  gap: 0px;
}

.subsection {
  width: 355px;
  margin: 20px auto 0px;
  display: flex;
  flex-direction: column;
}

.subsection-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
  background-color: var(--accent-color);
}

.section-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--accent-text-color);
}

/* ------------------card-----------------------------*/

/* тушка/card*/
.card {
  width: 100%;
  margin: 20px auto 0px;
}

/* тушка/card/title*/
.subcard-title {
  margin-top: 0px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
  white-space: nowrap;
}

.card-title {
  margin-top: 0px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
 }

/* тушка/card/text */
.card-text {
  margin-top: 10px;
  width: 100%;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text);
}

.link-effect {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  color: var(--card-text);
  text-shadow: 2px 2px var(--link-effect);
}

.link-effect:hover {
  border-bottom: 1px solid var(--card-text);
}

.link-effect:focus {
  border: 1px solid var(--link-effect-focus);
}
/* тушка/card/picture */

.img {
  width: 355px;
}

.art-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto;
}

.gallery {
  width: 355px;
  margin: 10px auto 0px 0px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, minmax(355px));
  grid-template-rows: repeat(5, minmax(100px));
  grid-auto-flow: row;
}

.gallery__item {
  margin: 0;
  }
/* ----------------подвал-------------------- */
.footer {
  margin-top: 40px;
  height: 100vh;
  /* (+) высота только по 100vh */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-block {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--logo-shadow);
}

@media (768px <= width) {
.header__logo {
    margin-left: 0px; /* без отступа центровка не совпадает с макетом*/
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    width: 364px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

 .header__theme-menu {
    margin-right: 20px;
    margin-top: 15px;
  }

  .header__theme-menu-list {
    gap: 11px;
  } 

  .indicatator {
    margin-top: 20px;
    margin-right: 48px;
  }

  .corner-top-right {
    margin-top: 20px;
    margin-right: 20px;
  }

  .corner-bottom-left {
    margin-bottom: 20px;
    margin-left: 20px;
  }

 .main {
    margin: 60px auto 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .content-section {
    display: flex;
    flex-direction: row;
    width: 768px;
    gap: 0px;
  }
 
  .section-title {
    margin-left: 20px;
    margin-right: 20px;
    width: 236px;
    white-space: pre-line;
  }

  .body-section {
    margin-top: 0px;
    margin-left: 0px;
    width: 472px;
    gap: 20px;
  }

  .card {
    margin: 0px;
  }
 
  .columns-content-section {
    margin: 30px auto 30px 0px;
  }

  .columns-body-section {
    width: 728px;
    margin: 20px auto 0px 20px;
    gap: 20px;
  }

  .subsection {
    width: 472px;
    margin: 0px auto 0px 0px;
    gap: 20px;
  }

  .art-section {
    width: 728px;
    margin: 30px auto 0px;
  }

  .gallery {
    width: 728px;
    margin: 20px auto 0px 0px;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer {
  margin-top: 60px;
  }

.footer-block {
  letter-spacing: 2px;
  }
}

@media (width >= 1024px) {
  .header__logo {
    margin-left: 0px;
    font-size: 157px;
  }

  .header__title {
     margin-right: 20px;
    width: 491px;
  }

  .header__theme-menu {
    grid-row: 1;
    align-self: start;
    justify-self: center;
    margin-top: 20px;
    margin-left: 20px;
   }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
  } 

  .main {
    margin: 60px auto 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .content-section {
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0px;
    gap: 0px;
  }

  .section-title {
    width: 315px;
    white-space: normal;
  }

  .body-section {
    
    width: 649px;
    gap: 20px;
  }

  .card {
    width: 649px;

  }

  .columns-content-section {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 30px auto 30px 0px;
    gap: 20px;
  }
 
  .columns-body-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1004px;
    margin: 0px 0px 0px 20px;
    gap: 20px;
  }

  .columns-card.columns-card.columns-card{
    width: 315px;
  }

  .subsection {
    width: 649px;
    margin: 0px auto 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .art-section {
    width: 984px;
    margin: 30px auto 0px;
    height: 1091px;
  }

  .gallery {
    width: 984px;
    margin: 20px auto 0px 0px;
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }

  .img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer-block {
    letter-spacing: 0px;
    font-size: 157px;
  } 

}
