/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-width: 375px;
  max-width: 1024px;
  min-height: 668px;
  max-height: 1024px;
  margin: 0px auto;
  background-image: var(--cover-image); /*фоновая кртнка*/
  background-repeat: no-repeat; /*Свйство - упрвлт пвтрм фнвго избржния. По умлчнию = repeat*/
  background-position: center; /*упрвлть плжнем фнвй кртнки внтри элмнта.
   по центру по горизонтали и вертикали*/
  background-size: cover; /* изменять размер фонового изображения: 
  избржние бдт обрзтся ппдая за грнцы экрна*/
  background-attachment: fixed; /* Свйство опрдлт бдт ли фон пркрчвться вмсте со стрнцей 
  или бдт зфксрвн на однм мсте. испльзтся для эффкта параллакса.*/
  background-color: var(--bacgroud-color);
}

/*------------------территория чертадк----------------------*/
/* чердак, тут индикатор верх-прав угол, под ним меню картинка на фоне*/
.header {
  margin: 0px auto;
  min-height: 668px;
  max-height: 100hv;
  width: 375px;
  display: grid;
  grid-template-columns: 10px repeat(3, 1fr) 10px;
  grid-template-rows: 10px repeat(3, 1fr) 10px;
}

/*элемент украшения на фон для чердака и подвала*/
.decoration {
  grid-column: 2/5;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
}

.corner-top-right {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  margin-left: auto;
}

.corner-bottom-left {
  margin-top: auto;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

/* чердак/индикатор*/
.indicatator {
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: end;
  margin-right: 28px;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--indicator-color);
}

/* чердак/индикатор/точка*/
.indicatator::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 10px;
  margin-left: 10px;
  align-self: center;
  background-color: var(--indicator-color);
  box-shadow: 0px 0px 4px 2px var(--indicator-color);
}

/* чердак/меню*/
.header__theme-menu {
  grid-column: 5/5;
  grid-row: 2/2;
  justify-self: right;
  margin-top: 62px;
  margin-right: 10px;
}

.header__theme-menu-list {
  list-style-type: none;
    display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--button-color);
}

/* чердак/title*/
.header__logo {
  grid-column: 2/6;
  grid-row: 3;
  margin-top: 13px;
  margin-left: 0px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow);
}

/* чердак/text*/
.header__title {
  grid-column: 1/6;
  grid-row: 4/4;
  margin: 43.5px auto 0px;
  width: 355px;
  height: 117px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-title);
  white-space: pre-line;
}

/*--------------------- тушка ---------------------- */
.main {
  /* основа - тушка - х4 блока, в них наборы крточек х2 типа:
   карточка=заголовк+текст, карточка=фотка.
   -примитив - карточка = заголовок под ним либо блок текста либо набор фоток,
   -блок включает набор карточек
   -последний блок = карточка из сета фоток
   */
  margin: 40px auto 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* тушка/section*/
.content-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto 0px;
}

.body-section {
  display: flex;
  flex-direction: column;

  width: 355px;
  margin: 0px auto 0px;
}

.midle-content-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto 0px;
}

.midle-body-section {
  display: flex;
  flex-direction: column;

  width: 355px;
  margin: 0px auto 0px;
}

.subsection {
  width: 355px;
  margin: 20px auto 0px;
  display: flex;
  flex-direction: column;

  /* .highlightning-title
 display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: auto;
  justify-content: center;
width: 355px;
  column-gap: 5px;
  row-gap: 50px;
  border: 2px solid yellow;*/
}

.subsection-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
  background-color: var(--accent-color);
}

.section-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--accent-text-color);
}

/* ------------------card-----------------------------*/

/* тушка/card*/
.card {
  width: 100%;
  margin: 20px auto 0px;
}

/* тушка/card/title*/
.subcard-title {
  margin-top: 0px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
}

.card-title {
  margin-top: 0px;
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title);
 }

/* тушка/card/text */
.card-text {
  margin-top: 10px;
  width: 100%;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text);
}

.link-effect {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: var(--card-text);
  text-shadow: 2px 2px --link-effect;
}

.link-effect:hover {
  border-bottom: 1px solid var(--card-text);
}
/* тушка/card/picture */

.img {
  width: 355px;
}

.art-section {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 0px auto;
}

.gallery {
  width: 355px;
  margin: 10px auto 0px 0px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(355px));
  grid-template-rows: repeat(5, minmax(100px));
  grid-auto-flow: row;
}

.gallery__item {
   margin: 0;
  }
/* подвал/ */
.footer {
  margin: 40px auto 0px auto;
  max-height: 100hv;
  min-height: 668px;
  width: 375px;
  display: grid;
  grid-template-columns: 10px repeat(3, 1fr) 10px;
  grid-template-rows: 10px repeat(3, 1fr) 10px;
}

.footer-block {
  margin: 286px auto auto 14px;
  justify-self: center;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow);
}
@media (720px <= width) {
  .header {
    min-height: 1024px;
    width: 768px;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-template-rows: 20px repeat(3, 1fr) 20px;
  }

  .header__logo {
    width: 700px;
    grid-column: 1/5;
    grid-row: 3/3;
    margin-top: 115px;
    font-size: 120px;
  }

  .header__title {
    grid-column: 3/6;
    grid-row: 4/4;
    margin: 48.5px auto 0px 121.5px;
    width: 364px;
    height: 117px;
    background-color: var(--accent-color);
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    color: var(--card-title);
    white-space: pre-line;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-right: 20px;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .main {
    margin: 60px auto 0px;
    width: 768px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .content-section {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0px auto 0px 20px;
    gap: 20px;
  }

  .section-title {
    width: 236px;
    white-space: pre-line;
  }

  .body-section {
    width: 472px;
    margin: 0px auto 0px 0px;
    gap: 20px;
  }

  .card {
    margin: 0px auto 0px;
  }

  .midle-content-section {
    margin: 30px auto 30px 20px;
  }

  .midle-body-section {
    width: 728px;
    margin: 20px auto 0px;
    gap: 20px;
  }

  .subsection {
    width: 472px;
    margin: 0px auto 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .art-section {
    width: 728px;
    margin: 30px auto;
    height: 823px;
  }

  .gallery {
    width: 728px;
    margin: 20px auto 0px 0px;
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .gallery__item {
    margin: 0px;
  }

  .img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

.footer {
  margin: 30px auto 0px auto;
  width: 768px;
  max-height: 100hv;
  min-height: 1024px;
  display: grid;
  grid-template-columns: 20px repeat(3, 1fr) 20px;
  grid-template-rows: 20px repeat(3, 1fr) 20px;
}

.footer-block {
  margin: 463px auto auto 205px;
  letter-spacing: 2px;
}
}

@media (width >= 1024px) {
  .header {
    margin: 0px auto;
    display: grid;
    height: 768px;
    width: 1024px;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-template-rows: 20px repeat(3, 1fr) 20px;
  }

  .header__logo {
    width: 1000px;
    grid-column: 1 / -1;
    grid-row: 2/3;
    margin-top: 300px;
    margin-left: 0px;
    font-size: 157px;
    color: var(--logo-color);
    text-shadow: 4px 4px 0 var(--logo-shadow);
  }

  .header__title {
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 113px auto 0px 513px;
    width: 491px;
    height: 71px;
  }

  .header__theme-menu {
    grid-column: 2 / 6;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin-top: 39px;
    margin-right: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  .main {
    margin: 60px auto 0px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .content-section {
    display: flex;
    flex-direction: row;
    width: 984px;
    margin: 0px auto 0px 20px;
    gap: 20px;
  }

  .section-title {
    width: 315px;
  }

  .body-section {
    width: 649px;
    margin: 0px auto 0px 0px;
    gap: 20px;
  }

  .card {
    margin: 0px auto 0px;
  }

  .midle-content-section {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 30px auto 30px 20px;
    gap: 20px;
  }
  .midle-body-section {
    display: flex;
    flex-direction: row;
    width: 984px;
    margin: 0px auto 0px 0px;
    gap: 20px;
  }

  .subsection {
    width: 649px;
    margin: 0px auto 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .art-section {
    width: 984px;
    margin: 30px auto 0px;
    height: 1091px;
  }

  .gallery {
    width: 984px;
    margin: 20px auto 0px 0px;
    display: grid;
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }

  .gallery__item {
    margin: 0px;
  }

  .img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer {
    margin: 60px auto 0px auto;
    width: 1024px;
    max-height: 100hv;
    min-height: 1024px;
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-template-rows: 20px repeat(3, 1fr) 20px;
  }

  .footer-block {
    margin: 319px auto auto 278px;
    letter-spacing: 0px;
    font-size: 157px;
  }
}
